*
{
    margin: 0;padding: 0;
}

@media screen and (max-width:680px) {

    body
    {
        display: flex;
        background-color: aliceblue;
        flex-direction: column;
    }

    h1
    {
        color:blue;
        font-size: 15px;
    }
    .main_heading
    {
           
    }
}