*
{
    margin: 0;padding: 0;
}
#image
{
    height: 450px;
    width: 450px;
}

@media screen and (max-width:680px) {

    body
    {
        
        background-color: aliceblue;
        
    }
     .main_section
     {
        flex-direction: column;
        display: flex;
     }
     #image
     {
         height: 100%;
         width: 100%;
     }
     .form_div
     {
         display: flex;
         flex-direction: column;
     }
    h1
    {
        color:blue;
        font-size: 15px;
    }
    .main_heading
    {
           
    }
}